@model List<User>
@{
    ViewData["Title"] = "Index";
}

<!-- Page-header start -->
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <!-- Basic table card start -->
    <div class="card">
        <div class="card-header">
            <h5>Basic Table</h5>
            <span>use class <code>table</code> inside table element</span>

        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Age</th>
                            <th>Location</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th class="operation">
                                @*<a asp-action="create" class="btn btn-success">
                                    <i class="fa fa-plus"></i>
                                </a>*@
                            </th>
                        </tr>
                    </thead>
                    <tbody id="dynamic-body">
                        <partial name="_ListBody" model="@Model" />
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Basic table card end -->
</div>


